
# MySQL Database
spring:
  thymeleaf:
    cache: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/JobBrief?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: root1234

  jpa:
    generate-ddl: true
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: localhost
      port: 6379
      password: 'jobbrief'


# Swagger springdoc-ui Configuration
springdoc:
  packages-to-scan: com.test.demo
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    path: demo-ui.html            # Swagger UI 경로 => localhost:880/demo-ui.html
    tags-sorter: alpha            # alpha: 알파벳 순 태그 정렬, method: HTTP Method 순 정렬
    operations-sorter: alpha      # alpha: 알파벳 순 태그 정렬, method: HTTP Method 순 정렬
  api-docs:
    path: /api-docs/json
    groups:
      enabled: true
  cache:
    disabled: true


jwt:
  token:
    secret: 7JWI64WV7Jik64qY7J2A64Kg7JSo6rCA7KKL64uk64K07J2864+E64Kg7JSo6rCA7KKL7J2E6rmM7KeA6riI7J2A7IOI67K97J207JW864K07J287IOI67K97JeQ64qU642l7KeA7JWK7JWY7Jy866m07KKL6rKg7Ja07KCV66eQ66Gc # 임의의 문자열을 Base64로 인코딩한 값
    refresh-token-validity-in-seconds: 1209600 # 14일
    access-token-validity-in-seconds: 43200 # 12시간
